<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>user detail</title>
    <style>
      * {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
img {
  width: 100%;
  height: 100%;
}
#report {
  width: 90vw;
  margin: auto;
  max-width: 800px;
}

.main-title {
  text-align: center;
  margin: 3rem 0;
}
.image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-image,
.qr-code {
  width: 100px;
  height: 100px;
}
.stap {
  width: 600px;
  height: 400px;
  display: flex;
  margin-top: 15rem;
  margin-left: 400px;
  
}
.stamp {
  width: 500px;
  height: 300px;
  align-self: flex-end;
}
.image-container p {
  font-size: 12px;
  margin-bottom: 0.5rem;
}

.client-info {
  border: 1px solid #000;
  margin-bottom: 1.5rem;
}
.info .title {
  background-color: #064d9d;
  color: #fff;
  padding: 0.3rem;
  font-size: 16px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .left {
  flex: 1;
  border-right: 1px solid #000;
}
.container .right {
  flex: 1;
}
.details {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}
.details p {
  flex: 1;
  font-size: 12px;
  margin-left: 0.2rem;
}
.details h2 {
  flex: 2;
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 1rem;
}
.test-info {
  border: 1px solid #064d9d;
  margin-bottom: 1.5rem;
}
.footer {
  /* margin-top: 15rem; */
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 10px;
  font-style: italic;
  color: #064d9d;
  font-weight: bold;
}
.line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.line .l {
  width: 60%;
  height: 10px;
  background-color: #064d9d;
}
.line p {
  color: #064d9d;
  font-size: 14px;
  margin: 0 1rem;
}

    </style>
  </head>
  <body>
    <header>
      <img
        class="logo"
        src="/img/logo.png"
        alt=""
      />
    </header>
    <section id="report">
      <h3 class="main-title">Laboratory eReport</h3>
      <div class="image-container">
        <div class="photo">
          <% if(user.sex == "female" || user.sex == "FEMALE"){ %>
          <img
            class="user-image"
            src="/img/wmen.jpeg"
            alt="user-image"
          /><%}else{ %>
            <img
            class="user-image"
            src="/img/men1.jpg"
            alt="user-image"
          /><%}%>
          <p>* Photo not taken during sample collection</p>
        </div>
        <div class="qr">
          <img
            class="qr-code"
            src="/img/rq_link.jpg"
            alt="qr-code"
          />
          <p>* Scan this code to verify result</p>
        </div>
      </div>
      <div class="info">
        <div class="client-info">
          <h2 class="title">Client Information</h2>
          <div class="container">
            <div class="left">
              <div class="details">
                <p>Name</p>
                <h2><%= user.fullName%></h2>
              </div>
              <div class="details">
                <p>Passport</p>
                <h2><%= user.passportNum%></h2>
              </div>
              <div class="details">
                <p>Nationality</p>
                <h2><%= user.nationality%></h2>
              </div>
            </div>
            <div class="right">
              <div class="details">
                <p>DOB</p>
                <h2><%= user.dbo%></h2>
              </div>
              <div class="details">
                <p>Sex</p>
                <h2><%= user.sex%></h2>
              </div>
              <div class="details">
                <p>Phone</p>
                <h2><%= user.phone%></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="client-info">
          <h2 class="title">Specimen Information</h2>
          <div class="container">
            <div class="left">
              <div class="details">
                <p>Spacimen Type</p>
                <h2><%= user.specimenType%></h2>
              </div>
              <div class="details">
                <p>Collected location</p>
                <h2><%= user.collectedLocation%></h2>
              </div>
            </div>
            <div class="right">
              <div class="details">
                <p>Sample ID</p>
                <h2><%= user.sampleId%></h2>
              </div>
              <div class="details">
                <p>Collected</p>
                <h2><%= user.collectedDate%></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="test-info">
          <h2 class="title">Test Result</h2>
          <div class="test-container">
            <div class="test">
              <div class="details">
                <p>SARS COV-2 (RT-PCR)</p>
                <h2><%= user.result%></h2>
              </div>
              <div class="details">
                <p>Reported time (GMT-3)</p>
                <h2><%= user.resultDate%></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="test-info">
          <h2 class="title">Test information</h2>
          <div class="test-container">
            <div class="test">
              <div class="details">
                <p>Test Performed By</p>
                <h2><%=user.testPerformedBy%></h2>
              </div>
              <div class="details">
                <p>Result Reviewed By</p>
                <h2><%= user.reviewedBy%></h2>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="stap1"></div> -->
        <div class="stap">
          <img
          class="stamp"
          src="/img/stamp.png"
          alt="stamp"
        />
        </div>
        
      <p class="footer">
        a negative result does not necessarily exclude infection with the virus
      </p>
    </section>
    <div class="line">
      <div class="l"></div>
      <p>Turning Science to Care</p>
    </div>
  </body>
</html>
